.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flavorBlue {
    background-color: #000AFF;
    color: #52FF00;
}

.flavorWhite {
    color: #000AFF;
}

.flavorBlack {
    color: white;
    background-color: black;
}

.flavorBlack>p {
    font-size: 36px;
    text-align: center;
    line-height: 33.75px;
    letter-spacing: -0.03em;
    margin: 1em;
}

@media (max-width: 900px) {
    .flavorBlack>p {
        font-size: 20px;
        text-align: center;
        line-height: 22px;
        letter-spacing: -0.03em;
    }
}