.hero {
    font-size: 175px;
    font-weight: 400;
    line-height: 133px;
    letter-spacing: -0.03em;
    text-align: center;
    max-width: min(80%, 1580px);
    margin: 0 auto;
    overflow-wrap: break-word;
}


.flavorBlue {
    color: #52FF00;
}

.flavorWhite {
    font-weight: 700;
    color: #52FF00;

    -webkit-text-stroke: 3px #000AFF;
}


@media (max-width: 900px) {
    .hero {
        font-size: 64px;
        line-height: 80px;
    }

    .flavorWhite {
        font-size: 48px;
        line-height: 50px;
        -webkit-text-stroke: 1px #000AFF;
    }
}
